<template name="archiveList">
  {{#if Template.subscriptionsReady}}
    {{#each getPrompts}}
    {{#with getWarmup}}
    <a class="prompt-list-wrapper" href="{{pathFor 'archiveSingle' promptPubDate=../promptPubDate}}">
      <div class="prompt-list-item">
        <h2 class="prompt-date">{{formatDate ../promptPubDate}}</h2>
        <h2 class="prompt-text">{{../promptText}}</h2>
        <div class="prompt-author-container">
          <div class="prompt-by-line">People's Choice</div>
          <i class="icon icon-person"></i>
          <a class="prompt-author" href="{{designerURL}}">{{designer}}</a>
        </div>
      </div>
      <div class="prompt-list-item__bg" style="background-image: url({{imageURL}});">
      </div>
    </a>
    {{/with}}
    {{/each}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>