<template name="submitWarmup">
  <form class="submit-warmup">
  	<div class="row">
  		<div class="col-md-3">
		    <input class="form-control" type="text" name="imageURL" placeholder="Add your Image URL">
		</div>
		<div class="col-md-3">
		    <input class="form-control" type="text" name="submitter" placeholder="Enter your name">
		</div>
		<div class="col-md-3">
		    <input class="form-control" type="text" name="submitterURL" placeholder="Enter your URL">
		</div>
		<div class="col-md-3">
		    <input type="submit" value="Submit your warmup" class="submit-button btn btn-primary btn-block">
		</div> 
	</div>   
  </form>
</template>