<template name="header">
  <div class="navbar navbar-fixed-top wd-navbar">
  	<div class="container">
     <header>
       <a href="{{pathFor 'home'}}" class="pull-left">Warmup.Design</a>
       <a href="{{pathFor 'profile'}}" class="pull-right {{isActiveRoute 'profile'}}"><i class="fa fa-2x fa-user"></i></a>
     </header>
   </div>
  </div>
  <div class="wd-tabs">
    <div class="container">
      <a href="{{pathFor 'archive'}}" class="wd-tabs__item {{isActiveRoute regex='archiveSingle|archive'}}">Past Warmups</a><a href="{{pathFor 'home'}}" class="wd-tabs__item {{isActiveRoute 'home'}}">Today's Warmup</a>
    </div>
  </div>
</template>