<template name="promptFull">
	<div class="prompt-container">
	  {{#each getPrompt}}
	    <div class="day-nav text-center clearfix">
	      <a href="#" class="pull-left"><i class="fa fa-chevron-left"></i></a>
	      <a href="#" class="pull-right"><i class="fa fa-chevron-right"></i></a>
	      <h2 class="prompt-date">{{formatDateFull promptPubDate}}</h2>
	    </div>
	    <h1 class="prompt-text">{{promptText}}</h1>
	    <div class="prompt-author-container">
	    	<div class="prompt-by-line">Prompt submitted by</div>
	    	<i class="fa fa-2x fa-user"></i>
	    	<a class="prompt-author" href="{{promptAuthorURL}}">{{promptAuthor.fullname}}</a>
	    </div>
	  {{/each}}
	 </div>
</template>