<template name="warmup">
  <div class="card">
    <img src="{{imageURL}}" alt="" class="card-img-top img-responsive">
    <div class="card-block">
      <a href="{{submitterURL}}"><i class="fa fa-user"></i> {{submitter}}</a>
      
      <div class="pull-right">
        <a href="#" class="share-warmup"><i class="fa fa-share"></i> ({{shareCount}})</a>
        <a href="#" class="like-warmup"><i class="fa fa-heart-o"></i> ({{likeCount}})</a>
        <a href="#" class="kill-warmup">&times;</a>
      </div>
    </div>
  </div>
</template>